<div data-role="page" id="unitprices_page">
  <div data-role="header">
    <h1>とくみちゃん</h1>
  </div>

  <div data-role="content">
    <div class="ui-grid-b">
      <div class="ui-block-a">
        <input type="tel" id="add_price" data-mini="true" size="2" placeholder="250円" />
      </div>
      <div class="ui-block-b">
        <input type="tel" id="add_amount" data-mini="true" maxlength="50" placeholder="27.5m" />
      </div>
      <div class="ui-block-c">
        <input type="tel" id="add_group" data-mini="true" maxlength="50" placeholder="12ロール" />
      </div>
    </div><!-- /grid-a -->
    <a data-role="button" id="add_button" data-mini="true">単価を計算する</a>

    </br>
    <ul id="unit_list" data-role="listview" data-inset="true"></ul>
  </div>
</div>

