<div data-role="page" id="products_page">
  <div data-role="header">
    <h1>とくみちゃん</h1>
  </div>

  <div data-role="content">
    <ul id="product_list" data-role="listview" data-inset="false">
      <% @products.each do |p| %>
        <li>
        <%= link_to p.name, product_path(p) %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

